<nav class="cyan darken-4">
    <div class="container">
        <div class="nav-wrapper">
            <a routerLink="/about" class="brand-logo">photoGallery</a>
            <a routerLink="" data-target="menuResponsive" class="sidenav-trigger">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a routerLink="/photos">Mis fotos</a></li>
                <li><a routerLink="/photos/new">Subirfoto</a></li>
            </ul>
        </div>
    </div>
</nav>

<ul class="sidenav" id="menuResponsive">
    <li><a routerLink="/photos">Mis fotos</a></li>
    <li><a routerLink="/photos/new">Subirfoto</a></li>
</ul>
