<div class="container">
    <div class="row cardMetric">
        <div class="col s12">

            <div class=" ">
                <h1 class="teal-text">Photo Gallery App</h1>
                <p class="">Aplicación web que te permite almacenar momentos de nuestra vida para nunca olvidarnos de ellos.</p>
                <hr>
                <p class="">
                    Aplicación desarrollada con el Stack <strong class="teal-text text-darken-4">MEAN</strong> (MongoDB, Express, Angular, Nodejs). Es una aplicacióm fullstack utilizando <strong class="teal-text text-darken-4">TypeScript; </strong> tanto
                    para el Frontend como para el Backend. Dentro del desarrollo también se utilizó el framework de CSS llamado materializeCSS, para poder tener un estilo más llamativo visualmente.
                </p>
                <p>Aplicación desarrollada por <strong class="teal-text"> José Daniel Contreras Medina</strong></p>
                <div class="center">
                    <a class="waves-effect waves-light btn" target="_blank" href="http://josedanielcm1995a.herokuapp.com/">Visita mi portafolio</a>
                </div>
            </div>
        </div>
        <div class="col s12 cardMetric">
            <table class="highlight responsive-table">
                <thead>
                    <tr>
                        <th class="teal white-text">Frontend</th>
                        <th class="teal white-text">Backend</th>
                        <th class="teal white-text">Database</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Angular</td>
                        <td>Nodejs</td>
                        <td>MongoDB</td>
                    </tr>
                    <tr>
                        <td>materializeCss</td>
                        <td>Express</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>TypeScript</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
